# Minimal clang-format for C++/OpenGL projects

Language: Cpp
BasedOnStyle: Google

ColumnLimit: 120

# Ensure glad.h stays at the top
IncludeCategories:
  - Regex: '.*glad\.h'
    Priority: 1
  - Regex: '<GLFW/glfw3.h>'
    Priority: 2
  - Regex: '<.*>'
    Priority: 3
  - Regex: '".*"'
    Priority: 4

